body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* fond noir */
    color: #fff; /* texte par défaut blanc */
}

header {
    padding: 20px;
    text-align: center;
}

/* ----- ALBUM ----- */

.album-title {
    font-size: 28px;
    margin-bottom: 20px;

    color: #fff;
    background-color: #1a1a1a; 
    padding: 10px 30px;
    border-radius: 5px;

    width: fit-content;
}

/* conteneur automatique pour le centrage */
.album-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.album-content {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

/* ----- COUVERTURE ----- */

.album-cover {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #444;
}

.album-image-block img {
    object-fit: cover;
    border: 2px solid #fff;
}

/* ----- RECTANGLE ----- */

.album-rectangle {
    margin-left: 20px;

    /* hauteur dynamique */
    min-height: 360px;
    height: auto;

    width: calc(100% - 350px);
    box-sizing: border-box;

    background-color: #2a2a2a;
    border: 3px solid #fff; 
    border-radius: 5px;

    display: flex;
    align-items: center;
    padding: 20px;
}

/* ----- IMAGES A & B ----- */

.album-images {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.album-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-A {
    width: 175px;
    height: 250px;
}

.image-B {
    width: 250px;
    height: 175px;
}

/* ----- TEXTE ----- */

.image-name {
    margin-bottom: 5px;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.image-placeholder {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

/* nav */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  width: 100%;
  padding: 20px 0;
}

/* Style général des boutons */
button {
  margin: 10px;
  min-width: 130px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #222222;
  border-radius: 5px;
  display: inline-block;
}

/* Bouton principal */
#big-button {
  width: 270px;
  padding: 15px 20px;
  margin-bottom: 15px; /* Espace entre le bouton grand et les petits */
}

/* Conteneur des petits boutons */
#small-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacement entre les deux petits boutons */
  padding: 10px;
  width: 130px;
}


